@charset "utf-8";
@import 'bootstrap';
@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);

/*
Site: Synaptic Media
Version: 2.0
Date: 09/01/2015
*/

/* TOC
Variables
General Styles
Primary Navigation Styles
Type Styles
Link Styles
Page Styles
Forms
Plugins
Media Queries
*/

/* Variables */
$dark-blue: 						#052335;
$medium-blue:						#0A4568;
$light-blue:						#0099CC;
$orange:								#F15A22;
$white:									#FFFFFF;

/* General Styles */

* {
	box-sizing: border-box;
}

body {
	background-color: $dark-blue;
	padding: 4em 0 0 0;
	margin: 0;
	font-size: 16px;
}

header {
	margin: 0;
	padding: 0;
	background-color: $dark-blue;
}

nav a {
	font-size: 1.2em;
	font-weight: bold;
}

header img {
	width: 100%;
	height: auto;
}

footer {
	margin: 60px 0 0 0;
	padding: 20px 0;
	background-color: $dark-blue;
}
footer p {
	font-size: 1em;
	color: #478CB5;
	text-align: center;
	margin: 0;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
}

.warning-fictional {
	height: 2em;
	width: 100%;
	font-size: 1em;
	text-align: center;
	color: $white;
	background-color: red;
}

/* Typography */

h1 {
	font-family: 'Raleway', Geneva, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: $orange;
	margin: 0;
	padding: 0;
}

h2 {
	font-family: 'Raleway', Geneva, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: $orange;
	margin: 0;
	margin-bottom: 1.2em;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 0;
	padding-bottom: 0;
	border-bottom: 2px solid $medium-blue;
}
h3 {
	font-family: 'Raleway', Geneva, sans-serif;
	font-size: 1.5em;
	color: $light-blue;
	margin: 0;
	font-weight: bold;
	padding-left: 10px;
	padding-top: 0;
}

p {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 1.2em;
	color: $white;
	padding-top: 0;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0;
}

.col-sm-4 p, .col-sm-6 p, .col-sm-4 div, .col-sm-6 div {
	padding: 0 2em;
}

.col-sm-4 h2 + p, .col-sm-6 > h2 + p, .col-sm-4 h2 + div, .col-sm-6 h2 + div {
	border-left: 2px solid $medium-blue;
}

li {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 1em;
	color: $white;
}

td {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 1em;
	color: $white;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: $orange;
	padding-top: 2px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
}
th {
	font-family: 'Raleway', Geneva, sans-serif;
	font-size: 1em;
	font-weight: bold;
	color: $light-blue;
	text-align: left;
	padding-bottom: 2px;
	padding-left: 5px;
}


/* Link Styles */

a {
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 1em;
	color: $light-blue;
	text-decoration: none;
}
a:hover {
	color: $orange;
}
a:visited {
	color: $light-blue;
}

/* Page Styles */

.module {
	background-color: $medium-blue;
	padding: 0;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
	border-radius: 1em 1em 1em 1em;
}

.section-about, .section-feedback {
	img {
		float: left;
		margin-right: 10px;
		border-radius: 50%;
		clear: left;
	}
}

.skew-light {
	position: relative;
	padding-top: 240px;
}

.skew-light::before { 
	content: ''; 
	position: absolute; 
	top: 120px; 
	left: 0; 
	height: 960px; 
	width: 100%; 
	background: $medium-blue; 
	transform: skew(0deg, -6deg);
}

.skew-dark {
	position: relative;
	padding-top: 20px;
}

.skew-dark::before {
	content: ''; 
	position: absolute; 
	top: -120px; 
	left: 0; 
	height: 1080px; 
	width: 100%; 
	background: $dark-blue; 
	transform: skew(0deg, -6deg);
}

/* Forms */


form h3 {
	margin-top: 1.2em;
	margin-bottom: .6em;
}

.submit, .reset {
	width: 120px;
	padding: 10px;
	margin-top: 1.2em;
	margin-right: 1.2em;
	background-color: $medium-blue;
	color: $light-blue;
	border: 2px solid $light-blue;
	font-family: 'Raleway', Helvetica;
	font-weight: bold;
}

.submit:hover, .submit:active, .submit:visited, .reset:hover, .reset:active, .reset:visited {
	background-color: $medium-blue;
	color: $orange;
	border: 2px solid $orange;
}

.input {
	overflow: hidden;
	position: relative;
	z-index: 1;
	display: block;
	margin: 10px;
	max-width: 350px;
	width: calc(100% - 2em);
	height: 4em;
	vertical-align: top;
}

.input__field {
	position: absolute;
	z-index: 100;
	padding: 2.15em 0.75em 0;
	width: 100%;
	background: transparent;
	color: $light-blue;
	font-size: 1em;
	display: block;
	float: right;
	border: none;
	border-radius: 0;
	font-weight: bold;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	padding: 0;
	width: 100%;
	height: 100%;
	background: $medium-blue;
	text-align: left;
	display: inline-block;
	float: right;
	color: $light-blue;
	font-weight: bold;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	width: 100%;
	padding: 1em 1em;
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform 0.3s, color 0.3s;
	transition: transform 0.3s, color 0.3s;
	text-rendering: geometricPrecision;
}

.input__label::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0px solid transparent;
	-webkit-transition: border-width 0.3s, border-color 0.3s;
	transition: border-width 0.3s, border-color 0.3s;
}

.input__field:focus + .input__label::before,
.input--filled .input__label::before {
	border-width: 6px;
	border-color: $medium-blue;
	border-top-width: 1.8em;
	background: $white;
}

.input__field:focus + .input__label .input__label-content,
.input--filled .input__label .input__label-content {
	padding: 1.8em 1em;
	color: $orange;
	-webkit-transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.5em, 0) scale3d(0.75, 0.75, 1) translateZ(1px);
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("../images/icons/icons-sprite.png") left top no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url("../images/icons/icons-sprite.png") -19px top no-repeat;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url("../images/icons/icons-sprite.png") -38px top no-repeat;
    cursor:pointer;
}
input[type="radio"]:checked + label span {
    background:url("../images/icons/icons-sprite.png") -57px top no-repeat;
}

textarea {
	border: 1px solid $light-blue;
}

textarea:focus {
	border: 1px solid $orange;
}

/* Plugins */

.jumbotron {
	min-height: 480px;
	margin-top: -14px;
	background: linear-gradient(rgba(5,35,53,0.5), rgba(5,35,53,0.5)), url("../images/hero-home.jpg") center top no-repeat;
	background-size: cover;

	h2 {
		margin-bottom: 0;
		font-size: 6em;
		border-bottom: none;
	}

	p {
		font-size: 2em;
		color: $white;
	}
}

.btn {
	width: 120px;
	padding: 10px;
	margin-top: 1.2em;
	margin-right: 1.2em;
	background-color: $medium-blue;
	color: $light-blue;
	border: 2px solid $light-blue;
	border-radius: 0;
	font-family: 'Raleway', Helvetica;
	font-weight: bold;
}

.btn:hover, .btn:active, .btn:visited {
	background-color: $medium-blue;
	color: $orange;
	border: 2px solid $orange;
}

/* Media Queries */
